.CT-m-0 {
  margin: 0rem !important;
}

.CT-mt-0 {
  margin-top: 0rem !important;
}

.CT-mb-0 {
  margin-bottom: 0rem !important;
}

.CT-ml-0 {
  margin-left: 0rem !important;
}

.CT-mr-0 {
  margin-right: 0rem !important;
}

.CT-my-0 {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.CT-mx-0 {
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.CT-m-1 {
  margin: 0.25rem !important;
}

.CT-mt-1 {
  margin-top: 0.25rem !important;
}

.CT-mb-1 {
  margin-bottom: 0.25rem !important;
}

.CT-ml-1 {
  margin-left: 0.25rem !important;
}

.CT-mr-1 {
  margin-right: 0.25rem !important;
}

.CT-my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.CT-mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.CT-m-2 {
  margin: 0.5rem !important;
}

.CT-mt-2 {
  margin-top: 0.5rem !important;
}

.CT-mb-2 {
  margin-bottom: 0.5rem !important;
}

.CT-ml-2 {
  margin-left: 0.5rem !important;
}

.CT-mr-2 {
  margin-right: 0.5rem !important;
}

.CT-my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.CT-mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.CT-m-3 {
  margin: 0.75rem !important;
}

.CT-mt-3 {
  margin-top: 0.75rem !important;
}

.CT-mb-3 {
  margin-bottom: 0.75rem !important;
}

.CT-ml-3 {
  margin-left: 0.75rem !important;
}

.CT-mr-3 {
  margin-right: 0.75rem !important;
}

.CT-my-3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important;
}

.CT-mx-3 {
  margin-left: 0.75rem !important;
  margin-right: 0.75rem !important;
}

.CT-m-4 {
  margin: 1rem !important;
}

.CT-mt-4 {
  margin-top: 1rem !important;
}

.CT-mb-4 {
  margin-bottom: 1rem !important;
}

.CT-ml-4 {
  margin-left: 1rem !important;
}

.CT-mr-4 {
  margin-right: 1rem !important;
}

.CT-my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.CT-mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.CT-m-5 {
  margin: 1.25rem !important;
}

.CT-mt-5 {
  margin-top: 1.25rem !important;
}

.CT-mb-5 {
  margin-bottom: 1.25rem !important;
}

.CT-ml-5 {
  margin-left: 1.25rem !important;
}

.CT-mr-5 {
  margin-right: 1.25rem !important;
}

.CT-my-5 {
  margin-top: 1.25rem !important;
  margin-bottom: 1.25rem !important;
}

.CT-mx-5 {
  margin-left: 1.25rem !important;
  margin-right: 1.25rem !important;
}

.CT-m-6 {
  margin: 1.5rem !important;
}

.CT-mt-6 {
  margin-top: 1.5rem !important;
}

.CT-mb-6 {
  margin-bottom: 1.5rem !important;
}

.CT-ml-6 {
  margin-left: 1.5rem !important;
}

.CT-mr-6 {
  margin-right: 1.5rem !important;
}

.CT-my-6 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.CT-mx-6 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.CT-m-7 {
  margin: 1.75rem !important;
}

.CT-mt-7 {
  margin-top: 1.75rem !important;
}

.CT-mb-7 {
  margin-bottom: 1.75rem !important;
}

.CT-ml-7 {
  margin-left: 1.75rem !important;
}

.CT-mr-7 {
  margin-right: 1.75rem !important;
}

.CT-my-7 {
  margin-top: 1.75rem !important;
  margin-bottom: 1.75rem !important;
}

.CT-mx-7 {
  margin-left: 1.75rem !important;
  margin-right: 1.75rem !important;
}

.CT-m-8 {
  margin: 2rem !important;
}

.CT-mt-8 {
  margin-top: 2rem !important;
}

.CT-mb-8 {
  margin-bottom: 2rem !important;
}

.CT-ml-8 {
  margin-left: 2rem !important;
}

.CT-mr-8 {
  margin-right: 2rem !important;
}

.CT-my-8 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.CT-mx-8 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.CT-m-9 {
  margin: 2.25rem !important;
}

.CT-mt-9 {
  margin-top: 2.25rem !important;
}

.CT-mb-9 {
  margin-bottom: 2.25rem !important;
}

.CT-ml-9 {
  margin-left: 2.25rem !important;
}

.CT-mr-9 {
  margin-right: 2.25rem !important;
}

.CT-my-9 {
  margin-top: 2.25rem !important;
  margin-bottom: 2.25rem !important;
}

.CT-mx-9 {
  margin-left: 2.25rem !important;
  margin-right: 2.25rem !important;
}

.CT-m-10 {
  margin: 2.5rem !important;
}

.CT-mt-10 {
  margin-top: 2.5rem !important;
}

.CT-mb-10 {
  margin-bottom: 2.5rem !important;
}

.CT-ml-10 {
  margin-left: 2.5rem !important;
}

.CT-mr-10 {
  margin-right: 2.5rem !important;
}

.CT-my-10 {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}

.CT-mx-10 {
  margin-left: 2.5rem !important;
  margin-right: 2.5rem !important;
}

.CT-m-11 {
  margin: 2.75rem !important;
}

.CT-mt-11 {
  margin-top: 2.75rem !important;
}

.CT-mb-11 {
  margin-bottom: 2.75rem !important;
}

.CT-ml-11 {
  margin-left: 2.75rem !important;
}

.CT-mr-11 {
  margin-right: 2.75rem !important;
}

.CT-my-11 {
  margin-top: 2.75rem !important;
  margin-bottom: 2.75rem !important;
}

.CT-mx-11 {
  margin-left: 2.75rem !important;
  margin-right: 2.75rem !important;
}

.CT-m-12 {
  margin: 3rem !important;
}

.CT-mt-12 {
  margin-top: 3rem !important;
}

.CT-mb-12 {
  margin-bottom: 3rem !important;
}

.CT-ml-12 {
  margin-left: 3rem !important;
}

.CT-mr-12 {
  margin-right: 3rem !important;
}

.CT-my-12 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.CT-mx-12 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.CT-m-13 {
  margin: 3.25rem !important;
}

.CT-mt-13 {
  margin-top: 3.25rem !important;
}

.CT-mb-13 {
  margin-bottom: 3.25rem !important;
}

.CT-ml-13 {
  margin-left: 3.25rem !important;
}

.CT-mr-13 {
  margin-right: 3.25rem !important;
}

.CT-my-13 {
  margin-top: 3.25rem !important;
  margin-bottom: 3.25rem !important;
}

.CT-mx-13 {
  margin-left: 3.25rem !important;
  margin-right: 3.25rem !important;
}

.CT-m-14 {
  margin: 3.5rem !important;
}

.CT-mt-14 {
  margin-top: 3.5rem !important;
}

.CT-mb-14 {
  margin-bottom: 3.5rem !important;
}

.CT-ml-14 {
  margin-left: 3.5rem !important;
}

.CT-mr-14 {
  margin-right: 3.5rem !important;
}

.CT-my-14 {
  margin-top: 3.5rem !important;
  margin-bottom: 3.5rem !important;
}

.CT-mx-14 {
  margin-left: 3.5rem !important;
  margin-right: 3.5rem !important;
}

.CT-m-15 {
  margin: 3.75rem !important;
}

.CT-mt-15 {
  margin-top: 3.75rem !important;
}

.CT-mb-15 {
  margin-bottom: 3.75rem !important;
}

.CT-ml-15 {
  margin-left: 3.75rem !important;
}

.CT-mr-15 {
  margin-right: 3.75rem !important;
}

.CT-my-15 {
  margin-top: 3.75rem !important;
  margin-bottom: 3.75rem !important;
}

.CT-mx-15 {
  margin-left: 3.75rem !important;
  margin-right: 3.75rem !important;
}

.CT-m-16 {
  margin: 4rem !important;
}

.CT-mt-16 {
  margin-top: 4rem !important;
}

.CT-mb-16 {
  margin-bottom: 4rem !important;
}

.CT-ml-16 {
  margin-left: 4rem !important;
}

.CT-mr-16 {
  margin-right: 4rem !important;
}

.CT-my-16 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.CT-mx-16 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.CT-m-17 {
  margin: 4.25rem !important;
}

.CT-mt-17 {
  margin-top: 4.25rem !important;
}

.CT-mb-17 {
  margin-bottom: 4.25rem !important;
}

.CT-ml-17 {
  margin-left: 4.25rem !important;
}

.CT-mr-17 {
  margin-right: 4.25rem !important;
}

.CT-my-17 {
  margin-top: 4.25rem !important;
  margin-bottom: 4.25rem !important;
}

.CT-mx-17 {
  margin-left: 4.25rem !important;
  margin-right: 4.25rem !important;
}

.CT-m-18 {
  margin: 4.5rem !important;
}

.CT-mt-18 {
  margin-top: 4.5rem !important;
}

.CT-mb-18 {
  margin-bottom: 4.5rem !important;
}

.CT-ml-18 {
  margin-left: 4.5rem !important;
}

.CT-mr-18 {
  margin-right: 4.5rem !important;
}

.CT-my-18 {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important;
}

.CT-mx-18 {
  margin-left: 4.5rem !important;
  margin-right: 4.5rem !important;
}

.CT-m-19 {
  margin: 4.75rem !important;
}

.CT-mt-19 {
  margin-top: 4.75rem !important;
}

.CT-mb-19 {
  margin-bottom: 4.75rem !important;
}

.CT-ml-19 {
  margin-left: 4.75rem !important;
}

.CT-mr-19 {
  margin-right: 4.75rem !important;
}

.CT-my-19 {
  margin-top: 4.75rem !important;
  margin-bottom: 4.75rem !important;
}

.CT-mx-19 {
  margin-left: 4.75rem !important;
  margin-right: 4.75rem !important;
}

.CT-m-20 {
  margin: 5rem !important;
}

.CT-mt-20 {
  margin-top: 5rem !important;
}

.CT-mb-20 {
  margin-bottom: 5rem !important;
}

.CT-ml-20 {
  margin-left: 5rem !important;
}

.CT-mr-20 {
  margin-right: 5rem !important;
}

.CT-my-20 {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.CT-mx-20 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.CT-m-21 {
  margin: 5.25rem !important;
}

.CT-mt-21 {
  margin-top: 5.25rem !important;
}

.CT-mb-21 {
  margin-bottom: 5.25rem !important;
}

.CT-ml-21 {
  margin-left: 5.25rem !important;
}

.CT-mr-21 {
  margin-right: 5.25rem !important;
}

.CT-my-21 {
  margin-top: 5.25rem !important;
  margin-bottom: 5.25rem !important;
}

.CT-mx-21 {
  margin-left: 5.25rem !important;
  margin-right: 5.25rem !important;
}

.CT-m-22 {
  margin: 5.5rem !important;
}

.CT-mt-22 {
  margin-top: 5.5rem !important;
}

.CT-mb-22 {
  margin-bottom: 5.5rem !important;
}

.CT-ml-22 {
  margin-left: 5.5rem !important;
}

.CT-mr-22 {
  margin-right: 5.5rem !important;
}

.CT-my-22 {
  margin-top: 5.5rem !important;
  margin-bottom: 5.5rem !important;
}

.CT-mx-22 {
  margin-left: 5.5rem !important;
  margin-right: 5.5rem !important;
}

.CT-m-23 {
  margin: 5.75rem !important;
}

.CT-mt-23 {
  margin-top: 5.75rem !important;
}

.CT-mb-23 {
  margin-bottom: 5.75rem !important;
}

.CT-ml-23 {
  margin-left: 5.75rem !important;
}

.CT-mr-23 {
  margin-right: 5.75rem !important;
}

.CT-my-23 {
  margin-top: 5.75rem !important;
  margin-bottom: 5.75rem !important;
}

.CT-mx-23 {
  margin-left: 5.75rem !important;
  margin-right: 5.75rem !important;
}

.CT-m-24 {
  margin: 6rem !important;
}

.CT-mt-24 {
  margin-top: 6rem !important;
}

.CT-mb-24 {
  margin-bottom: 6rem !important;
}

.CT-ml-24 {
  margin-left: 6rem !important;
}

.CT-mr-24 {
  margin-right: 6rem !important;
}

.CT-my-24 {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
}

.CT-mx-24 {
  margin-left: 6rem !important;
  margin-right: 6rem !important;
}

.CT-m-25 {
  margin: 6.25rem !important;
}

.CT-mt-25 {
  margin-top: 6.25rem !important;
}

.CT-mb-25 {
  margin-bottom: 6.25rem !important;
}

.CT-ml-25 {
  margin-left: 6.25rem !important;
}

.CT-mr-25 {
  margin-right: 6.25rem !important;
}

.CT-my-25 {
  margin-top: 6.25rem !important;
  margin-bottom: 6.25rem !important;
}

.CT-mx-25 {
  margin-left: 6.25rem !important;
  margin-right: 6.25rem !important;
}

.CT-m-26 {
  margin: 6.5rem !important;
}

.CT-mt-26 {
  margin-top: 6.5rem !important;
}

.CT-mb-26 {
  margin-bottom: 6.5rem !important;
}

.CT-ml-26 {
  margin-left: 6.5rem !important;
}

.CT-mr-26 {
  margin-right: 6.5rem !important;
}

.CT-my-26 {
  margin-top: 6.5rem !important;
  margin-bottom: 6.5rem !important;
}

.CT-mx-26 {
  margin-left: 6.5rem !important;
  margin-right: 6.5rem !important;
}

.CT-m-27 {
  margin: 6.75rem !important;
}

.CT-mt-27 {
  margin-top: 6.75rem !important;
}

.CT-mb-27 {
  margin-bottom: 6.75rem !important;
}

.CT-ml-27 {
  margin-left: 6.75rem !important;
}

.CT-mr-27 {
  margin-right: 6.75rem !important;
}

.CT-my-27 {
  margin-top: 6.75rem !important;
  margin-bottom: 6.75rem !important;
}

.CT-mx-27 {
  margin-left: 6.75rem !important;
  margin-right: 6.75rem !important;
}

.CT-m-28 {
  margin: 7rem !important;
}

.CT-mt-28 {
  margin-top: 7rem !important;
}

.CT-mb-28 {
  margin-bottom: 7rem !important;
}

.CT-ml-28 {
  margin-left: 7rem !important;
}

.CT-mr-28 {
  margin-right: 7rem !important;
}

.CT-my-28 {
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}

.CT-mx-28 {
  margin-left: 7rem !important;
  margin-right: 7rem !important;
}

.CT-m-29 {
  margin: 7.25rem !important;
}

.CT-mt-29 {
  margin-top: 7.25rem !important;
}

.CT-mb-29 {
  margin-bottom: 7.25rem !important;
}

.CT-ml-29 {
  margin-left: 7.25rem !important;
}

.CT-mr-29 {
  margin-right: 7.25rem !important;
}

.CT-my-29 {
  margin-top: 7.25rem !important;
  margin-bottom: 7.25rem !important;
}

.CT-mx-29 {
  margin-left: 7.25rem !important;
  margin-right: 7.25rem !important;
}

.CT-m-30 {
  margin: 7.5rem !important;
}

.CT-mt-30 {
  margin-top: 7.5rem !important;
}

.CT-mb-30 {
  margin-bottom: 7.5rem !important;
}

.CT-ml-30 {
  margin-left: 7.5rem !important;
}

.CT-mr-30 {
  margin-right: 7.5rem !important;
}

.CT-my-30 {
  margin-top: 7.5rem !important;
  margin-bottom: 7.5rem !important;
}

.CT-mx-30 {
  margin-left: 7.5rem !important;
  margin-right: 7.5rem !important;
}

.CT-p-0 {
  padding: 0rem !important;
}

.CT-pt-0 {
  padding-top: 0rem !important;
}

.CT-pb-0 {
  padding-bottom: 0rem !important;
}

.CT-pl-0 {
  padding-left: 0rem !important;
}

.CT-pr-0 {
  padding-right: 0rem !important;
}

.CT-py-0 {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.CT-px-0 {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.CT-p-1 {
  padding: 0.25rem !important;
}

.CT-pt-1 {
  padding-top: 0.25rem !important;
}

.CT-pb-1 {
  padding-bottom: 0.25rem !important;
}

.CT-pl-1 {
  padding-left: 0.25rem !important;
}

.CT-pr-1 {
  padding-right: 0.25rem !important;
}

.CT-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.CT-px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.CT-p-2 {
  padding: 0.5rem !important;
}

.CT-pt-2 {
  padding-top: 0.5rem !important;
}

.CT-pb-2 {
  padding-bottom: 0.5rem !important;
}

.CT-pl-2 {
  padding-left: 0.5rem !important;
}

.CT-pr-2 {
  padding-right: 0.5rem !important;
}

.CT-py-2, .CT-card {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.CT-px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.CT-p-3 {
  padding: 0.75rem !important;
}

.CT-pt-3 {
  padding-top: 0.75rem !important;
}

.CT-pb-3 {
  padding-bottom: 0.75rem !important;
}

.CT-pl-3 {
  padding-left: 0.75rem !important;
}

.CT-pr-3 {
  padding-right: 0.75rem !important;
}

.CT-py-3 {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.CT-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.CT-p-4 {
  padding: 1rem !important;
}

.CT-pt-4 {
  padding-top: 1rem !important;
}

.CT-pb-4 {
  padding-bottom: 1rem !important;
}

.CT-pl-4 {
  padding-left: 1rem !important;
}

.CT-pr-4 {
  padding-right: 1rem !important;
}

.CT-py-4, .CT-btn {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.CT-px-4, .CT-card {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.CT-p-5 {
  padding: 1.25rem !important;
}

.CT-pt-5 {
  padding-top: 1.25rem !important;
}

.CT-pb-5 {
  padding-bottom: 1.25rem !important;
}

.CT-pl-5 {
  padding-left: 1.25rem !important;
}

.CT-pr-5 {
  padding-right: 1.25rem !important;
}

.CT-py-5 {
  padding-top: 1.25rem !important;
  padding-bottom: 1.25rem !important;
}

.CT-px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.CT-p-6 {
  padding: 1.5rem !important;
}

.CT-pt-6 {
  padding-top: 1.5rem !important;
}

.CT-pb-6 {
  padding-bottom: 1.5rem !important;
}

.CT-pl-6 {
  padding-left: 1.5rem !important;
}

.CT-pr-6 {
  padding-right: 1.5rem !important;
}

.CT-py-6 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.CT-px-6 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.CT-p-7 {
  padding: 1.75rem !important;
}

.CT-pt-7 {
  padding-top: 1.75rem !important;
}

.CT-pb-7 {
  padding-bottom: 1.75rem !important;
}

.CT-pl-7 {
  padding-left: 1.75rem !important;
}

.CT-pr-7 {
  padding-right: 1.75rem !important;
}

.CT-py-7 {
  padding-top: 1.75rem !important;
  padding-bottom: 1.75rem !important;
}

.CT-px-7 {
  padding-left: 1.75rem !important;
  padding-right: 1.75rem !important;
}

.CT-p-8 {
  padding: 2rem !important;
}

.CT-pt-8 {
  padding-top: 2rem !important;
}

.CT-pb-8 {
  padding-bottom: 2rem !important;
}

.CT-pl-8 {
  padding-left: 2rem !important;
}

.CT-pr-8 {
  padding-right: 2rem !important;
}

.CT-py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.CT-px-8 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.CT-p-9 {
  padding: 2.25rem !important;
}

.CT-pt-9 {
  padding-top: 2.25rem !important;
}

.CT-pb-9 {
  padding-bottom: 2.25rem !important;
}

.CT-pl-9 {
  padding-left: 2.25rem !important;
}

.CT-pr-9 {
  padding-right: 2.25rem !important;
}

.CT-py-9 {
  padding-top: 2.25rem !important;
  padding-bottom: 2.25rem !important;
}

.CT-px-9 {
  padding-left: 2.25rem !important;
  padding-right: 2.25rem !important;
}

.CT-p-10 {
  padding: 2.5rem !important;
}

.CT-pt-10 {
  padding-top: 2.5rem !important;
}

.CT-pb-10 {
  padding-bottom: 2.5rem !important;
}

.CT-pl-10 {
  padding-left: 2.5rem !important;
}

.CT-pr-10 {
  padding-right: 2.5rem !important;
}

.CT-py-10, .CT-loader-container {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.CT-px-10 {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

.CT-p-11 {
  padding: 2.75rem !important;
}

.CT-pt-11 {
  padding-top: 2.75rem !important;
}

.CT-pb-11 {
  padding-bottom: 2.75rem !important;
}

.CT-pl-11 {
  padding-left: 2.75rem !important;
}

.CT-pr-11 {
  padding-right: 2.75rem !important;
}

.CT-py-11 {
  padding-top: 2.75rem !important;
  padding-bottom: 2.75rem !important;
}

.CT-px-11 {
  padding-left: 2.75rem !important;
  padding-right: 2.75rem !important;
}

.CT-p-12 {
  padding: 3rem !important;
}

.CT-pt-12 {
  padding-top: 3rem !important;
}

.CT-pb-12 {
  padding-bottom: 3rem !important;
}

.CT-pl-12 {
  padding-left: 3rem !important;
}

.CT-pr-12 {
  padding-right: 3rem !important;
}

.CT-py-12 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.CT-px-12 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.CT-p-13 {
  padding: 3.25rem !important;
}

.CT-pt-13 {
  padding-top: 3.25rem !important;
}

.CT-pb-13 {
  padding-bottom: 3.25rem !important;
}

.CT-pl-13 {
  padding-left: 3.25rem !important;
}

.CT-pr-13 {
  padding-right: 3.25rem !important;
}

.CT-py-13 {
  padding-top: 3.25rem !important;
  padding-bottom: 3.25rem !important;
}

.CT-px-13 {
  padding-left: 3.25rem !important;
  padding-right: 3.25rem !important;
}

.CT-p-14 {
  padding: 3.5rem !important;
}

.CT-pt-14 {
  padding-top: 3.5rem !important;
}

.CT-pb-14 {
  padding-bottom: 3.5rem !important;
}

.CT-pl-14 {
  padding-left: 3.5rem !important;
}

.CT-pr-14 {
  padding-right: 3.5rem !important;
}

.CT-py-14 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}

.CT-px-14 {
  padding-left: 3.5rem !important;
  padding-right: 3.5rem !important;
}

.CT-p-15 {
  padding: 3.75rem !important;
}

.CT-pt-15 {
  padding-top: 3.75rem !important;
}

.CT-pb-15 {
  padding-bottom: 3.75rem !important;
}

.CT-pl-15 {
  padding-left: 3.75rem !important;
}

.CT-pr-15 {
  padding-right: 3.75rem !important;
}

.CT-py-15 {
  padding-top: 3.75rem !important;
  padding-bottom: 3.75rem !important;
}

.CT-px-15 {
  padding-left: 3.75rem !important;
  padding-right: 3.75rem !important;
}

.CT-p-16 {
  padding: 4rem !important;
}

.CT-pt-16 {
  padding-top: 4rem !important;
}

.CT-pb-16 {
  padding-bottom: 4rem !important;
}

.CT-pl-16 {
  padding-left: 4rem !important;
}

.CT-pr-16 {
  padding-right: 4rem !important;
}

.CT-py-16 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.CT-px-16 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.CT-p-17 {
  padding: 4.25rem !important;
}

.CT-pt-17 {
  padding-top: 4.25rem !important;
}

.CT-pb-17 {
  padding-bottom: 4.25rem !important;
}

.CT-pl-17 {
  padding-left: 4.25rem !important;
}

.CT-pr-17 {
  padding-right: 4.25rem !important;
}

.CT-py-17 {
  padding-top: 4.25rem !important;
  padding-bottom: 4.25rem !important;
}

.CT-px-17 {
  padding-left: 4.25rem !important;
  padding-right: 4.25rem !important;
}

.CT-p-18 {
  padding: 4.5rem !important;
}

.CT-pt-18 {
  padding-top: 4.5rem !important;
}

.CT-pb-18 {
  padding-bottom: 4.5rem !important;
}

.CT-pl-18 {
  padding-left: 4.5rem !important;
}

.CT-pr-18 {
  padding-right: 4.5rem !important;
}

.CT-py-18 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.CT-px-18 {
  padding-left: 4.5rem !important;
  padding-right: 4.5rem !important;
}

.CT-p-19 {
  padding: 4.75rem !important;
}

.CT-pt-19 {
  padding-top: 4.75rem !important;
}

.CT-pb-19 {
  padding-bottom: 4.75rem !important;
}

.CT-pl-19 {
  padding-left: 4.75rem !important;
}

.CT-pr-19 {
  padding-right: 4.75rem !important;
}

.CT-py-19 {
  padding-top: 4.75rem !important;
  padding-bottom: 4.75rem !important;
}

.CT-px-19 {
  padding-left: 4.75rem !important;
  padding-right: 4.75rem !important;
}

.CT-p-20 {
  padding: 5rem !important;
}

.CT-pt-20 {
  padding-top: 5rem !important;
}

.CT-pb-20 {
  padding-bottom: 5rem !important;
}

.CT-pl-20 {
  padding-left: 5rem !important;
}

.CT-pr-20 {
  padding-right: 5rem !important;
}

.CT-py-20 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

.CT-px-20 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.CT-p-21 {
  padding: 5.25rem !important;
}

.CT-pt-21 {
  padding-top: 5.25rem !important;
}

.CT-pb-21 {
  padding-bottom: 5.25rem !important;
}

.CT-pl-21 {
  padding-left: 5.25rem !important;
}

.CT-pr-21 {
  padding-right: 5.25rem !important;
}

.CT-py-21 {
  padding-top: 5.25rem !important;
  padding-bottom: 5.25rem !important;
}

.CT-px-21 {
  padding-left: 5.25rem !important;
  padding-right: 5.25rem !important;
}

.CT-p-22 {
  padding: 5.5rem !important;
}

.CT-pt-22 {
  padding-top: 5.5rem !important;
}

.CT-pb-22 {
  padding-bottom: 5.5rem !important;
}

.CT-pl-22 {
  padding-left: 5.5rem !important;
}

.CT-pr-22 {
  padding-right: 5.5rem !important;
}

.CT-py-22 {
  padding-top: 5.5rem !important;
  padding-bottom: 5.5rem !important;
}

.CT-px-22 {
  padding-left: 5.5rem !important;
  padding-right: 5.5rem !important;
}

.CT-p-23 {
  padding: 5.75rem !important;
}

.CT-pt-23 {
  padding-top: 5.75rem !important;
}

.CT-pb-23 {
  padding-bottom: 5.75rem !important;
}

.CT-pl-23 {
  padding-left: 5.75rem !important;
}

.CT-pr-23 {
  padding-right: 5.75rem !important;
}

.CT-py-23 {
  padding-top: 5.75rem !important;
  padding-bottom: 5.75rem !important;
}

.CT-px-23 {
  padding-left: 5.75rem !important;
  padding-right: 5.75rem !important;
}

.CT-p-24 {
  padding: 6rem !important;
}

.CT-pt-24 {
  padding-top: 6rem !important;
}

.CT-pb-24 {
  padding-bottom: 6rem !important;
}

.CT-pl-24 {
  padding-left: 6rem !important;
}

.CT-pr-24 {
  padding-right: 6rem !important;
}

.CT-py-24 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.CT-px-24 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.CT-p-25 {
  padding: 6.25rem !important;
}

.CT-pt-25 {
  padding-top: 6.25rem !important;
}

.CT-pb-25 {
  padding-bottom: 6.25rem !important;
}

.CT-pl-25 {
  padding-left: 6.25rem !important;
}

.CT-pr-25 {
  padding-right: 6.25rem !important;
}

.CT-py-25 {
  padding-top: 6.25rem !important;
  padding-bottom: 6.25rem !important;
}

.CT-px-25 {
  padding-left: 6.25rem !important;
  padding-right: 6.25rem !important;
}

.CT-p-26 {
  padding: 6.5rem !important;
}

.CT-pt-26 {
  padding-top: 6.5rem !important;
}

.CT-pb-26 {
  padding-bottom: 6.5rem !important;
}

.CT-pl-26 {
  padding-left: 6.5rem !important;
}

.CT-pr-26 {
  padding-right: 6.5rem !important;
}

.CT-py-26 {
  padding-top: 6.5rem !important;
  padding-bottom: 6.5rem !important;
}

.CT-px-26 {
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
}

.CT-p-27 {
  padding: 6.75rem !important;
}

.CT-pt-27 {
  padding-top: 6.75rem !important;
}

.CT-pb-27 {
  padding-bottom: 6.75rem !important;
}

.CT-pl-27 {
  padding-left: 6.75rem !important;
}

.CT-pr-27 {
  padding-right: 6.75rem !important;
}

.CT-py-27 {
  padding-top: 6.75rem !important;
  padding-bottom: 6.75rem !important;
}

.CT-px-27 {
  padding-left: 6.75rem !important;
  padding-right: 6.75rem !important;
}

.CT-p-28 {
  padding: 7rem !important;
}

.CT-pt-28 {
  padding-top: 7rem !important;
}

.CT-pb-28 {
  padding-bottom: 7rem !important;
}

.CT-pl-28 {
  padding-left: 7rem !important;
}

.CT-pr-28 {
  padding-right: 7rem !important;
}

.CT-py-28 {
  padding-top: 7rem !important;
  padding-bottom: 7rem !important;
}

.CT-px-28 {
  padding-left: 7rem !important;
  padding-right: 7rem !important;
}

.CT-p-29 {
  padding: 7.25rem !important;
}

.CT-pt-29 {
  padding-top: 7.25rem !important;
}

.CT-pb-29 {
  padding-bottom: 7.25rem !important;
}

.CT-pl-29 {
  padding-left: 7.25rem !important;
}

.CT-pr-29 {
  padding-right: 7.25rem !important;
}

.CT-py-29 {
  padding-top: 7.25rem !important;
  padding-bottom: 7.25rem !important;
}

.CT-px-29 {
  padding-left: 7.25rem !important;
  padding-right: 7.25rem !important;
}

.CT-p-30 {
  padding: 7.5rem !important;
}

.CT-pt-30 {
  padding-top: 7.5rem !important;
}

.CT-pb-30 {
  padding-bottom: 7.5rem !important;
}

.CT-pl-30 {
  padding-left: 7.5rem !important;
}

.CT-pr-30 {
  padding-right: 7.5rem !important;
}

.CT-py-30 {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important;
}

.CT-px-30 {
  padding-left: 7.5rem !important;
  padding-right: 7.5rem !important;
}

.CT-w-0 {
  width: 0rem;
}

.CT-w-1 {
  width: 0.25rem;
}

.CT-w-2 {
  width: 0.5rem;
}

.CT-w-3 {
  width: 0.75rem;
}

.CT-w-4 {
  width: 1rem;
}

.CT-w-5 {
  width: 1.25rem;
}

.CT-w-6 {
  width: 1.5rem;
}

.CT-w-7 {
  width: 1.75rem;
}

.CT-w-8 {
  width: 2rem;
}

.CT-w-9 {
  width: 2.25rem;
}

.CT-w-10 {
  width: 2.5rem;
}

.CT-w-11 {
  width: 2.75rem;
}

.CT-w-12 {
  width: 3rem;
}

.CT-w-13 {
  width: 3.25rem;
}

.CT-w-14 {
  width: 3.5rem;
}

.CT-w-15 {
  width: 3.75rem;
}

.CT-w-16 {
  width: 4rem;
}

.CT-w-17 {
  width: 4.25rem;
}

.CT-w-18 {
  width: 4.5rem;
}

.CT-w-19 {
  width: 4.75rem;
}

.CT-w-20 {
  width: 5rem;
}

.CT-w-21 {
  width: 5.25rem;
}

.CT-w-22 {
  width: 5.5rem;
}

.CT-w-23 {
  width: 5.75rem;
}

.CT-w-24 {
  width: 6rem;
}

.CT-w-25 {
  width: 6.25rem;
}

.CT-w-26 {
  width: 6.5rem;
}

.CT-w-27 {
  width: 6.75rem;
}

.CT-w-28 {
  width: 7rem;
}

.CT-w-29 {
  width: 7.25rem;
}

.CT-w-30 {
  width: 7.5rem;
}

.CT-w-31 {
  width: 7.75rem;
}

.CT-w-32 {
  width: 8rem;
}

.CT-w-33 {
  width: 8.25rem;
}

.CT-w-34 {
  width: 8.5rem;
}

.CT-w-35 {
  width: 8.75rem;
}

.CT-w-36 {
  width: 9rem;
}

.CT-w-37 {
  width: 9.25rem;
}

.CT-w-38 {
  width: 9.5rem;
}

.CT-w-39 {
  width: 9.75rem;
}

.CT-w-40 {
  width: 10rem;
}

.CT-w-41 {
  width: 10.25rem;
}

.CT-w-42 {
  width: 10.5rem;
}

.CT-w-43 {
  width: 10.75rem;
}

.CT-w-44 {
  width: 11rem;
}

.CT-w-45 {
  width: 11.25rem;
}

.CT-w-46 {
  width: 11.5rem;
}

.CT-w-47 {
  width: 11.75rem;
}

.CT-w-48 {
  width: 12rem;
}

.CT-w-49 {
  width: 12.25rem;
}

.CT-w-50 {
  width: 12.5rem;
}

.CT-w-51 {
  width: 12.75rem;
}

.CT-w-52 {
  width: 13rem;
}

.CT-w-53 {
  width: 13.25rem;
}

.CT-w-54 {
  width: 13.5rem;
}

.CT-w-55 {
  width: 13.75rem;
}

.CT-w-56 {
  width: 14rem;
}

.CT-w-57 {
  width: 14.25rem;
}

.CT-w-58 {
  width: 14.5rem;
}

.CT-w-59 {
  width: 14.75rem;
}

.CT-w-60 {
  width: 15rem;
}

.CT-w-61 {
  width: 15.25rem;
}

.CT-w-62 {
  width: 15.5rem;
}

.CT-w-63 {
  width: 15.75rem;
}

.CT-w-64 {
  width: 16rem;
}

.CT-w-65 {
  width: 16.25rem;
}

.CT-w-66 {
  width: 16.5rem;
}

.CT-w-67 {
  width: 16.75rem;
}

.CT-w-68 {
  width: 17rem;
}

.CT-w-69 {
  width: 17.25rem;
}

.CT-w-70 {
  width: 17.5rem;
}

.CT-gap-0 {
  gap: 0rem;
}

.CT-gap-1 {
  gap: 0.25rem;
}

.CT-gap-2 {
  gap: 0.5rem;
}

.CT-gap-3 {
  gap: 0.75rem;
}

.CT-gap-4 {
  gap: 1rem;
}

.CT-gap-5 {
  gap: 1.25rem;
}

.CT-gap-6 {
  gap: 1.5rem;
}

.CT-gap-7 {
  gap: 1.75rem;
}

.CT-gap-8 {
  gap: 2rem;
}

.CT-gap-9 {
  gap: 2.25rem;
}

.CT-gap-10 {
  gap: 2.5rem;
}

.CT-gap-11 {
  gap: 2.75rem;
}

.CT-gap-12 {
  gap: 3rem;
}

.CT-gap-13 {
  gap: 3.25rem;
}

.CT-gap-14 {
  gap: 3.5rem;
}

.CT-gap-15 {
  gap: 3.75rem;
}

.CT-gap-16 {
  gap: 4rem;
}

.CT-gap-17 {
  gap: 4.25rem;
}

.CT-gap-18 {
  gap: 4.5rem;
}

.CT-gap-19 {
  gap: 4.75rem;
}

.CT-gap-20 {
  gap: 5rem;
}

.CT-text-H1 {
  font-weight: 700;
  font-size: 1.625rem;
  font-family: sans-serif;
  line-height: normal;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .CT-text-H1 {
    font-size: 1.925rem;
  }
}

.CT-text-H2 {
  font-weight: 600;
  font-size: 0.875rem;
  font-family: sans-serif;
  line-height: normal;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .CT-text-H2 {
    font-size: 1.175rem;
  }
}

.CT-text-H3 {
  font-weight: 700;
  font-size: 0.8125rem;
  font-family: sans-serif;
  line-height: normal;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .CT-text-H3 {
    font-size: 1.1125rem;
  }
}

.CT-text-button, .CT-btn {
  font-weight: 600;
  font-size: 0.75rem;
  font-family: sans-serif;
  line-height: normal;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .CT-text-button, .CT-btn {
    font-size: 1.05rem;
  }
}

.CT-text-body {
  font-weight: 300;
  font-size: 0.625rem;
  font-family: sans-serif;
  line-height: normal;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .CT-text-body {
    font-size: 0.925rem;
  }
}

.CT-bg-main-1 {
  background-color: #053f6c;
}

.CT-color-main-1 {
  color: #053f6c;
}

.CT-bg-main-2 {
  background-color: #60aae3;
}

.CT-color-main-2 {
  color: #60aae3;
}

.CT-bg-color-1 {
  background-color: #004486;
}

.CT-color-color-1 {
  color: #004486;
}

.CT-bg-color-text {
  background-color: #034c83;
}

.CT-color-color-text {
  color: #034c83;
}

.CT-bg-color-2 {
  background-color: #3299dd;
}

.CT-color-color-2 {
  color: #3299dd;
}

.CT-bg-color-3 {
  background-color: #cecece;
}

.CT-color-color-3 {
  color: #cecece;
}

.CT-bg-color-4, .CT-card {
  background-color: #f8f8f8;
}

.CT-color-color-4 {
  color: #f8f8f8;
}

.CT-bg-secondary-1 {
  background-color: #037286;
}

.CT-color-secondary-1 {
  color: #037286;
}

.CT-bg-secondary-2 {
  background-color: #73b52d;
}

.CT-color-secondary-2 {
  color: #73b52d;
}

.CT-bg-degraded-1 {
  background-color: #0c61a1;
}

.CT-color-degraded-1 {
  color: #0c61a1;
}

.CT-bg-degraded-2 {
  background-color: #017680;
}

.CT-color-degraded-2 {
  color: #017680;
}

.CT-bg-degraded-3 {
  background-color: #76b72a;
}

.CT-color-degraded-3 {
  color: #76b72a;
}

.CT-bg-green-1 {
  background-color: #72bf44;
}

.CT-color-green-1 {
  color: #72bf44;
}

.CT-bg-green-2 {
  background-color: #cde5bf;
}

.CT-color-green-2 {
  color: #cde5bf;
}

.CT-bg-color-5 {
  background-color: #6aac2f;
}

.CT-color-color-5 {
  color: #6aac2f;
}

.CT-bg-black, .modal-backdrop {
  background-color: #010101;
}

.CT-color-black {
  color: #010101;
}

.CT-bg-white {
  background-color: #ffffff;
}

.CT-color-white, .CT-btn-secondary, .CT-btn-primary {
  color: #ffffff;
}

body {
  font-family: sans-serif;
  margin: 0;
}

.CT-container {
  background-image: url("/img/headernavegacion.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 0px;
  width: 100%;
  margin: auto;
  height: 100vh;
  box-sizing: content-box;
  background-position-y: 0px;
}
@media only screen and (min-width: 768px) {
  .CT-container {
    background-position-y: -20px;
  }
}
@media only screen and (min-width: 1024px) {
  .CT-container {
    background-position-y: -40px;
  }
}

section {
  max-width: 1024px;
  margin: 0px auto;
  padding-top: 104px;
}
@media only screen and (min-width: 768px) {
  section {
    padding-top: 154px;
  }
}

.CT-text-center {
  text-align: center;
}

.CT-flex {
  display: flex;
}

.CT-flex-col {
  flex-direction: column;
}

.CT-justify-center {
  justify-content: center;
}

.CT-align-items-center {
  align-items: center;
}

.CT-btn {
  max-width: 135px;
  min-height: 35px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.CT-btn-primary {
  background: transparent linear-gradient(270deg, #60aae3 0%, #053f6c 100%) 0% 0% no-repeat padding-box;
}

.CT-btn-secondary {
  background: #cecece;
}

.modal-backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  z-index: 10;
}

.modal-container {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.modal-content {
  max-width: 960px;
  width: 100%;
}

.CT-as-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.CT-as-video-container {
  overflow: hidden;
  border-radius: 50%;
  height: 450px;
  width: 70%;
  max-width: 320px;
}

.CT-loader {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.CT-w-full {
  width: 100%;
}

.CT-h-full {
  height: 100vh;
}

.CT-card {
  border-radius: 4px;
}

.CT-loader-container {
  width: 100%;
  background: linear-gradient(180deg, rgba(5, 63, 108, 0.5) 0%, rgba(96, 170, 227, 0.5) 100%);
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 768px) {
  .CT-loader-container {
    height: 400px;
    align-items: center;
  }
}

.CT-text-semibold {
  font-weight: 600;
}

.CT-sign-box {
  scale: 1;
  border: 1px solid;
  background-color: transparent;
  cursor: crosshair;
}
@media only screen and (min-width: 768px) {
  .CT-sign-box {
    scale: 1.6;
    margin: 64px 0px;
  }
}

.CT-video {
  max-width: 507px;
  border-radius: 1rem;
  max-height: 319px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid #6aac2f;
}

.CT-absolute {
  position: absolute;
}

.CT-relative {
  position: relative;
}

.CT-retake {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  background: linear-gradient(180deg, rgba(5, 63, 108, 0.5) 0%, rgba(96, 170, 227, 0.5) 100%);
}

.CT-image {
  max-width: 280px;
  max-width: 280px;
  margin: 0px auto;
}

figure {
  margin: 0 auto;
}

.CT-space-around {
  justify-content: space-around;
}

.CT-spin {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */